<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMIsApplet</key>
	<true/>
	<key>AMStayOpen</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>16E132</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gsheet</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gsheet.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google spreadsheet</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gform</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gform.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google form</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gdoc</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gdoc.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google document</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gslides</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gslides.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google presentation</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gdraw</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gdraw.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google drawing</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gtable</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gtable.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google table</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>glink</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>glink.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google Drive link</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gscript</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gscript.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google script</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gnote</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gnote.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google Keep note</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gmap</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gmap.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google My Maps</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>gsite</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>gsite.icns</string>
            <key>CFBundleTypeName</key>
            <string>Google site</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
            <key>LSHandlerRank</key>
            <string>Owner</string>
        </dict>
    </array>
	<key>CFBundleExecutable</key>
	<string>Application Stub</string>
	<key>CFBundleIconFile</key>
	<string>AutomatorApplet</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.automator.Google Docs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Google Docs</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>428</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8V83d</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16E132</string>
	<key>DTSDKName</key>
	<string>macosx10.12internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.5</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>x86_64</key>
		<string>10.6</string>
	</dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSMainNibFile</key>
	<string>ApplicationStub</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array/>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
</dict>
</plist>
